.jumbotron {
  padding-top: 6rem;
  background-color: #d8f0ff;
}

#Projects {
  background-color: #f3f3f3;
}

section {
  padding-top: 5rem;
}

.navbar {
  background-color: #198754 !important;
}

.card {
  border-radius: 10px;
}

footer {
  background-color: #198754 !important;
}
